* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.header-banner-img {
    height: 550px;
    background: linear-gradient(to top, rgba(117, 113, 113, 0),
            rgba(0, 0, 0, 0.9)), url('/resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-banner-img h4 {
    color: white;
    font-size: 32px;
    font-weight: 400
}

.header-banner-img h2 {
    color: white;
    font-size: 32px;
    font-weight: 400
}

.header-banner-img .banner-content {
    padding: 180px 350px;
    text-align: center;
}

.banner-content h4 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: 800;
}

.categories {
    padding: 100px 300px;
}

.deals-content {
    text-align: center;
}

.deals-content h1 {
    font-size: 88px;
    font-weight: 700;
    color: red;
    margin-bottom: 20px;
}

.deals-content p {
    font-size: 20px;
    font-weight: 500;
    color: red;
    margin-bottom: 20px;
}

.deals-content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.categories .categories-img {
    width: 800px;
    height: 600px;
}

.party-container {
    height: 400px;
    margin: 0 auto;
    padding: 125px 0px;
    background: linear-gradient(to top, rgba(117, 113, 113, 0),
            rgba(0, 0, 0, 0.9)), url('/resources/partyyyy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.party-container-text {
    width: 45%;
    margin-top: 28px;
    margin-left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.party-container-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 24px;
}

.party-description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 20px;
}

.party-container-img {
    width: 350px;
    height: 400px;
}

.party-container-text button {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.party-details-section {
    max-width: 1440px;
    height: 80vh;
    /* width: 50%; */
    margin: 28px auto;
    background-color: rgba(255, 0, 0, 0.1);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.party-details-container {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.party-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}

.party-details h3 {
    color: red;
}

.party-details h3,
.party-details p {
    font-size: 32px;
    font-weight: 600;
}

.party-details-container button {
    padding: 10px 16px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 20px;
}