* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

.primary-text-color {
    color: red;
}

.header-banner-img {
    height: 550px;
    background: linear-gradient(to top, rgba(117, 113, 113, 0),
            rgba(0, 0, 0, 0.9)), url('/resources/Banner\ Image.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-banner-img h4 {
    color: white;
    font-size: 32px;
    font-weight: 400
}

.header-banner-img h2 {
    color: white;
    font-size: 32px;
    font-weight: 400
}

.header-banner-img .banner-content {
    padding: 180px 350px;
    text-align: center;
}

.banner-content h4 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

.banner-content h2 {
    font-size: 60px;
    font-weight: 800;
}

.categories {
    padding: 100px 300px;
}

.deals-content {
    text-align: center;
}

.deals-content h1 {
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 20px;
}

.deals-content p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.deals-content h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.categories .categories-img {
    width: 800px;
    height: 600px;
}

.party-container {
    height: 400px;
    margin: 0 auto;
    padding: 125px 0px;
    background: linear-gradient(to top, rgba(117, 113, 113, 0),
            rgba(0, 0, 0, 0.9)), url('/resources/partyyyy.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.party-container-text {
    width: 45%;
    margin-top: 28px;
    margin-left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.party-container-text h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 24px;
}

.party-description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 20px;
    margin-bottom: 20px;
}

.party-container-img {
    width: 350px;
    height: 400px;
}

.party-container-text button {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.party-details-section {
    max-width: 1440px;
    height: 80vh;
    /* width: 50%; */
    margin: 28px auto;
    background-color: rgba(255, 0, 0, 0.1);
    position: relative;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.party-details-container {
    width: 600px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.party-details {
    display: flex;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
}


.party-details h3,
.party-details p {
    font-size: 32px;
    font-weight: 600;
}

.party-details-container button {
    padding: 10px 16px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
    margin-right: 20px;
}

.new-offer-container {
    margin: 50px;
    max-width: 1400px;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-around;

}

.new-offer-container .offer-intro {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.offer-intro .offer-intro-title {
    font-size: 20px;
    font-weight: 500;
    color: red;
}

.offer-intro h2 {
    font-size: 48px;
    font-weight: 700;
}

.offer-intro .offer-intro-detail {
    font-size: 18px;
    color: rgba(7, 2, 17, 0.6);
    text-align: left;
}

.new-offer-container .offer-img img {

    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 15px solid red;
    padding: 30px;
    box-sizing: border-box;
}

/* offer-details part */
.new-offer-container .offer-details {
    max-width: 30%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 15px;
}

.new-offer-container .offer-details-title {
    font-size: 48px;
}

.new-offer-container .offer-details img {
    width: 150px;
    height: 150px;
}

.new-offer-container .offer-details-description {
    color: rgba(7, 2, 17, 0.6);
    font-size: 18px;
    margin-bottom: 20px;
}

/* portfolio-section part */
.portfolio-section {
    max-width: 1400px;
}

.portfolio-section-details {
    width: 600px;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.portfolio-section-details h4 {
    font-size: 20px;
}

.portfolio-section-details h1 {
    font-size: 40px;
    font-weight: 700;
}

.portfolio-section-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolio-section-image img {
    width: 350px;
    height: 300px;
    margin: 15px;
}

/* suscribe-container-part */
.suscribe-container {
    max-width: 1300px;
    width: 60%;
    height: 80vh;
    margin: 0 auto;
    padding: 100px;
    text-align: center;

}

.suscribe-container .suscribe-container-title {
    margin-top: 20px;
    font-size: 40px;
}

.suscribe-container .suscribe-container-details {
    margin-top: 15px;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
}

/* suscribe-user-box  part */
.suscribe-container .suscribe-user-box {
    margin-top: 24px;
    width: 800px;
    max-width: 100%;
    position: relative;

}

.suscribe-container input {
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px;
    width: 80%;
    /* flex: 1; */
}

.suscribe-container .suscribe-user-box button {
    background-color: red;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    position: absolute;
    border-radius: 0px 30px 30px 0px;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);


}